[submodule "submodules/snailtrail"]
	path = submodules/snailtrail
	url = https://github.com/strymon-system/snailtrail.git
[submodule "submodules/reconstruction"]
	path = submodules/reconstruction
	url = https://github.com/zchothia/reconstruction.git
