---
---

@import "type-theme";

.call-out {
  .button {
    color: $header-desc-text-color;
    border-color: $header-desc-text-color;
    &:hover {
      color: $header-desc-background-color;
      background-color: $header-desc-text-color;
    }
  }
}

.home-logos {
  text-align: center;
  margin-top: 3em;

  img {
    max-width: 28%;
    margin: 0 2%;
  }
}

pre.highlight {
  background-color: #f7f7f7;
}

code.download {
  background-color: #f7f7f7;
  padding: 1ex;
}

.center-image {
  margin: 0 auto;
  display: block;
}
