---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}

  <section class="home-content">
    {{ content }}
  </section>

  {% if site.posts %}
  <h3 class="news-header">
    Latest news:
    <a href="{{ "/feed.xml" | relative_url }}" title="{{ site.theme_settings.str_rss_follow }}">
      <i class="fa fa-fw fa-rss"></i>
    </a>
  </h3>
  {% endif %}

  <div class="posts">
    {% for post in site.posts limit: 3 %}
    <div class="post-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
        </h1>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        {{ post.excerpt }}
        <a class="button" href="{{ post.url | relative_url }}">
          {{ site.theme_settings.str_continue_reading }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
